Repository alex84425/Action-shuviVoice, changes with the labels that .github/labeler.yml gives for each.
All labels: design, dependencies, document, test

.github/labeler.yml:

design:
    - design/**
dependencies:
    - pyproject.toml
    - poetry.lock
    - Dockerfile
document:
    - docs/**
    - src/app/history.json
test:
    - tests/**
    - src/tests/**
    - integration/**

recreate poetry lock with v1.5
  poetry.lock
Labels: dependencies

AB#50436 add operation example (#345)
  src/app/action-executortemplate-history.json
  src/app/action/models.py
Labels: none

AB#50437 refined feature test (#347)
  integration/feature_test/hello_world_multi_line_example_should_pass.json
  integration/feature_test/hello_world_single_line_example_should_pass.json
  integration/feature_test/helper.py
  src/app/action-executortemplate-history.json
Labels: test

👌 Auto-update pre-commit hooks (#348)
  .pre-commit-config.yaml
  src/app/config.py
  src/app/description.py
Labels: none

Create release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

update readme (#352)
  README.md
Labels: none

AB#50297 daemon example (#346)
  integration/feature_test/daemon_mode_operation_1_should_pass.json
  integration/feature_test/daemon_mode_operation_2_should_pass.json
  integration/feature_test/hello_world_multi_line_example_should_pass.json
  integration/feature_test/hello_world_single_line_example_should_pass.json
  integration/feature_test/helper.py
  src/app/action/executor.py
  src/app/action/models.py
  src/app/action/router.py
  src/static/daemon.ps1
  src/static/daemon_broken.ps1
  src/static/daemon_examples/daemonWatchdog.ps1
  src/static/daemon_examples/monitorOnStart.ps1
  src/static/daemon_examples/monitorOnStop.ps1
  src/static/daemon_examples/onAbort.ps1
  src/tests/test_payload.json
Labels: test

AB#50297 fix self delete (#354)
  src/app/action-executortemplate-history.json
  src/static/daemon_examples/monitorOnStop.ps1
Labels: none

AB#50352 better model handler (#356)
  src/app/action-executortemplate-history.json
  src/app/action/executor.py
  src/app/action/models.py
Labels: none

AB#50352 Feat/reuse workflows (#357)
  .github/workflows/feature-test-checker.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  src/app/action-executortemplate-history.json
Labels: none

👌 Auto-update pre-commit hooks (#349)
  .pre-commit-config.yaml
Labels: none

👌 Auto-update pre-commit hooks (#358)
  .pre-commit-config.yaml
Labels: none

check lint
  poetry.lock
  pyproject.toml
Labels: dependencies

AB#51102 extend to 30 characters (#360)
  scripts/update_action_name.py
  src/app/action-executortemplate-history.json
Labels: none

🧪 Auto-update Update Coverage on README (#361)
  README.md
Labels: none

👌 Auto-update pre-commit hooks (#362)
  .pre-commit-config.yaml
Labels: none

fix get_action_name
  scripts/update_action_name.py
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

AB#51099 migration to pydantic v2 (#359)
  poetry.lock
  pyproject.toml
  src/app/action/executor.py
  src/app/action/models.py
  src/app/config.py
  src/tests/utest/test_config.py
Labels: dependencies, test

update readme and test az pat still working
  README.md
Labels: none

fix test case mapping
  integration/feature_test/daemon_mode_operation_1_should_pass.json
  integration/feature_test/daemon_mode_operation_2_should_pass.json
Labels: test

trigger auto test update Azure
  README.md
Labels: none

Trigger test
  src/app/action-executortemplate-history.json
Labels: none

Trigger test
  src/app/action-executortemplate-history.json
Labels: none

E2E
  integration/test_feature.py
Labels: test

trigger auto test
  src/app/action-executortemplate-history.json
Labels: none

trigger again
  src/app/action-executortemplate-history.json
Labels: none

show name
  .github/workflows/feature-test-checker.yml
Labels: none

release_environment_name == "Proxy Testing on QA"
  integration/test_feature.py
Labels: test

Weekly
  .github/workflows/daily-pre-commit-fixer.yml
Labels: none

Weekly
  .github/workflows/daily-pre-commit-updater.yml
Labels: none

👌 Auto-update pre-commit hooks (#363)
  .pre-commit-config.yaml
Labels: none

AB#51524 uut proxy able to use environment variables (#372)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/app/action-executortemplate-history.json
Labels: dependencies

update
  poetry.lock
  pyproject.toml
Labels: dependencies

add daemon template
  src/app/action/executor.py
  src/app/action/models.py
  src/app/action/router.py
Labels: none

remove redundant
  src/app/action/executor.py
Labels: none

fix
  src/app/action/executor.py
Labels: none

fix feature test
  src/app/action/models.py
Labels: none

🐛 Auto-fix pre-commit hooks
  src/app/action/executor.py
Labels: none
