Repository alex84425/Action-shuviVoice, changes with the labels that .github/labeler.yml gives for each.
All labels: design, dependencies, document, test

history
  src/app/history.json
Labels: document

🐛 Auto-fix pre-commit hooks
  src/app/history.json
Labels: document

update history to correct file
  src/app/action-executortemplate-history.json
  src/app/history.json
Labels: document

🐛 Auto-fix pre-commit hooks
  src/app/action-executortemplate-history.json
  src/app/history.json
Labels: document

try trigger regression test
  src/app/action-executortemplate-history.json
Labels: none

Update README.md (#383)
  README.md
Labels: none

AB#52635 fix example, request should use true (#390)
  src/app/action-executortemplate-history.json
  src/app/action/executor.py
Labels: none

AB#52635 fix logic (#391)
  src/app/action-executortemplate-history.json
  src/app/action/executor.py
  src/app/action/router.py
  src/static/examples/isRunning.Tests.ps1
  src/static/examples/isRunning.ps1
  src/static/examples/monitorTargetData.Tests.ps1
  src/static/examples/monitorTargetData.ps1
Labels: none

disable dependabot
  .github/dependabot.yml
Labels: none

less ci
  .github/workflows/daily-pre-commit-fixer.yml
Labels: none

fix submodule missing dependency
  poetry.lock
Labels: dependencies

fix send file to remote can not work with httpx 0.25.0... (#397)
  poetry.lock
  pyproject.toml
Labels: dependencies

run on TNN only
  integration/test_feature.py
  src/app/action-executortemplate-history.json
Labels: test

should Smoking_Group 64d49146a5cb67001a99c460
  src/app/action-executortemplate-history.json
Labels: none

AB#53756 use shuttle (#399)
  .gitattributes
  Dockerfile
  azure-pipelines.yml
  docker-compose-debug.yml
  docker-compose.yml
  poetry.lock
  pyproject.toml
  resources/example/v0.1.0/hello.txt
  resources/example/v0.2.0/hello.txt
  scripts/update_action_name.py
  src/app/action-executortemplate-history.json
  src/app/action/executor.py
  src/app/config.py
  src/app/health/router.py
  src/tests/utest/test_ping.py
Labels: dependencies, test

build
  src/app/action-executortemplate-history.json
Labels: none

fix location
  README.md
Labels: none

🧪 Auto-update Update Coverage on README (#384)
  README.md
Labels: none

👌 Auto-update pre-commit hooks (#381)
  .pre-commit-config.yaml
Labels: none

lazy list
  src/app/config.py
Labels: none

vCosmos_Resource rename to vCosmos_Shuttle
  src/app/config.py
Labels: none

no more resources
  .gitattributes
  assets/example/v0.1.0/hello.txt
  assets/example/v0.2.0/hello.txt
  azure-pipelines.yml
  docker-compose-debug.yml
  docker-compose.yml
  resources/example/v0.1.0/hello.txt
  resources/example/v0.2.0/hello.txt
  src/app/action-executortemplate-history.json
  src/app/action/executor.py
  src/app/config.py
  src/app/health/router.py
  src/tests/utest/test_ping.py
Labels: test

Update config.py
  src/app/config.py
Labels: none

Update azure-pipelines.yml
  azure-pipelines.yml
Labels: none

remove assets from repo
  .gitattributes
  assets/assets.md
  assets/example/v0.1.0/hello.txt
  assets/example/v0.2.0/hello.txt
  azure-pipelines.yml
  docker-compose-debug.yml
  docker-compose.yml
  scripts/update_action_name.py
  src/app/config.py
Labels: none

PLR0911 PLR0912
  pyproject.toml
Labels: dependencies

👌 Auto-update pre-commit hooks (#400)
  .pre-commit-config.yaml
Labels: none

AB#54853 Feat/update-feature-test-example (#401)
  integration/feature_test/helper.py
  pyproject.toml
  src/app/action/executor.py
  src/static/daemon_examples/daemon.ps1
  src/static/daemon_examples/daemon_broken.ps1
Labels: dependencies, test

sync model
  src/app/action/models.py
Labels: none

AB#52263 Sync AMD system deck (#404)
  src/app/action-executortemplate-history.json
  src/static/daemon_examples/monitorOnStop.ps1
Labels: none

👌 Auto-update pre-commit hooks (#402)
  .pre-commit-config.yaml
Labels: none

🧪 Auto-update Update Coverage on README (#403)
  README.md
Labels: none

first commit
  docker-compose.yml
Labels: none

123
  Dockerfile
  docker-compose-debug.yml
  src/app/action/router.py
Labels: dependencies

update
  README.md
  azure-pipelines.yml
  docker-compose.yml
  integration.yml
  integration/feature_test/daemon_mode_operation_1_should_pass.json
  integration/feature_test/daemon_mode_operation_2_should_pass.json
  integration/feature_test/hello_world_multi_line_example_should_pass.json
  integration/feature_test/hello_world_single_line_example_should_pass.json
  local.env
  poetry.lock
  pyproject.toml
  scripts/update_action_name.py
  scripts/update_template.cmd
Labels: dependencies, test

fix install vits
  Dockerfile
  requirements_VITS.txt
Labels: dependencies

.github/labeler.yml:

design:
    - design/**
dependencies:
    - pyproject.toml
    - poetry.lock
    - Dockerfile
document:
    - docs/**
    - src/app/history.json
test:
    - tests/**
    - src/tests/**
    - integration/**
